<strong>Olá {{ student }} !!!</strong><br />
<p>Sua pergunta foi respondida pela equipe GymPoint:</p>
<p>Pergunta: {{ question }}</p>
<p>
  <strong>Resposta: {{ answer }}</strong><small>  ( Respondido em: {{ date }} )</small>
</p>
